* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    -moz-osx-font-smoothing: grayscale;
}

input, button {
    border: none;
}

button:hover, li:hover, img:hover {
    cursor: pointer;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 16px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
 
    height: 100vh;
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 40% 20% 30%;

    color: white;
    background-color: #001131;
    font-weight: bold;
    gap: 30px;
}

.sidebar img {
    filter: brightness(0) invert(1);
}

.sidebar-head {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    padding: 20px;
    font-size: 1.5rem;
}

.sidebar-head img, .nav img, .settings img {
    justify-self: center;
}

.nav, .settings {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    padding: 20px;
}

.nav {
    grid-template-rows: repeat(6, 1fr);;
}

.sidebar li {
    font-size: 1.25rem;
}

.settings {
    grid-template-rows: repeat(3, 1fr);
}

.header {
    display: grid;
    grid-template-columns: 6fr 4fr;
    row-gap: 20px;
    padding: 20px 40px;
    box-shadow: 0 4px 2px -2px gray;
}

.search-area {
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
}

#textbox {
    height: 30px;
    flex: 1;
    margin-right: 120px;
    border-radius: 20px;
    background-color: rgb(235, 234, 234);
    background-color:  #c2dcea75;
    padding: 5px 10px;
}

.profile-area {
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    padding-right: 20px;
}

.username-area {
    display: flex;
    gap: 20px;
    align-items: center;
}

.username-area .text {
    font-size: 1rem;
    font-weight: bold;
}

.username-area .username {
    font-size: 1.5rem;
    font-weight: bold;
}

.button-area {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.button-area button {
    padding: 10px 24px;
    border-radius: 20px;
    color: white;
    background-color: #001131;
    font-weight: bold;
}

.content {
    padding: 20px;
    padding-bottom: 40px;
    padding-top: 30px;
    background-color: #c2dcea75;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
}

.content .project.title{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.projects {
    grid-row: 2 / 5;
    grid-column: 1 / 2;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.projects .card {
    background-color: white;
    border-left: 8px solid orange;
    border-radius: 8px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    display: flex;
    flex-direction: column;
    /* position: relative; */
    height: 100%;
}

.projects .card h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.projects .card p {
    color: #6b7f8a;
    font-size: 1rem;
    max-width: 50ch;
}

.projects .card .card-icons {
    align-self: flex-end;
    /* position: absolute;
    bottom: 30px; */
    display: flex;
    gap: 10px;
    margin-top: auto;
    justify-content: flex-end;
}

.content .announcement.title {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.announcements {
    display: grid;
    grid-template-rows: 1fr;
}

.content .title {
    font-size: 1.25em;
    font-weight: bold;
}

.announcements .card {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    display: flex;
    flex-direction: column;

    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.announcements .card h3 {
    font-size: 0.9rem;
    margin-bottom: 3px;
    font-weight: bold;
}

.announcements .card p {
    font-size: 0.7rem;
    color: #6b7f8a;
}

.announcements .card .line {
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #d1d5db;
}

.content .trending.title {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.trending .card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    display: grid;
    grid-template-columns: auto 1fr;

    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

.trending .card .user {
    align-self: center;
}

.trending .other-username {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.trending .project-name {
    color: #6b7f8a;
    font-size: 0.9rem;
}